<!--Jessica Kinghorn Mission 3 Index cshtml page-->
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "All About Me";
}

<!--Jessica Kinghorn Mission 3 index.cshtml-->

<h1>Jessica Kinghorn</h1>
<br />
<!--image and css files-->
<img id="violin" src="img/DSC_3909.jpg" height="350" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="css/StyleSheet.css" rel="stylesheet" />

<br />
<br />
<h4>What I hope to get out of IS 413:</h4>
<p>
    Over the next 4 months, I hope to be able to navigate Visual Studio's ASP.Net projects.
    I want to create a cheatsheet of C# code that I tend to forget/misuse.
    I also hope to work with my team to create a meaningful INTEX project.
</p>
<h5>Top 3 Jobs I Want to Pursue After I Graduate:</h5>
<ul>
    <li>AARC-360 Staff Consultant</li>
    <li>Violin Teacher</li>
    <li>The Church of Jesus Christ of Latter-day Saints Web Development Team</li>
</ul>




